* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: inherit;
}
body {
  background-color: #BCE6EB;
}
.header-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 100px;
  align-items: center;
  flex-direction: column;
}
* {
  color: #2a2a2a;
  font-family: 'Inter', sans-serif;

}
.header-wrapper h1 {
  font-size: 3rem;
  font-weight: 400;
}
.header-wrapper h2 {
font-size: 1.5rem;
font-weight: 300;
}
.about {
  margin-top: 60px;
  text-align: center;
}
.about p {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
margin-bottom: 40px;
  font-weight: 300;
  width: 346px;
}


.contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 24;
}
h3 {
  font-weight: 300;
}
ion-icon {
  font-size: 150%;
  margin-right: 5px;
}
.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a {
  width: 190px;
  height: 60px;
  border-radius: 5%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;

}
